<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<div class="container">
    <%# First Row %>
    <div class="row">
      <div class="text-block">
        <h2>LOREM IPSUM</h2>
        <p>
          Nulla pellentesque, massa eleifend laoreet malesuada, risus risus
          laoreet erat, in sagittis velit sem luctus erat. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
      <div class="image-block"></div>
    </div>

    <%# Second Row %>
    <div class="row">
      <div class="text-block">
        <h2 class="title">LOREM IPSUM</h2>
        <p class="block-title">
          Nulla pellentesque, massa eleifend laoreet malesuada, risus risus
          laoreet erat, in sagittis velit sem luctus erat. Morbi suscipit arcu.
        </p>
      </div>
      <div class="text-block highlighted">
        <h2>LOREM IPSUM</h2>
        <p>
          Nulla pellentesque, massa eleifend laoreet malesuada, risus risus
          laoreet lobortis, accumsan felis.
        </p>
      </div>
      <div class="text-block">
        <h2>LOREM IPSUM</h2>
        <p>
          Nulla pellentesque, massa eleifend laoreet malesuada, risus risus
          accumsan felis.
        </p>
      </div>
    </div>

    <%# Third Row %>
    <div class="row">
      <div class="image-block"></div>
      <div class="text-block">
        <h2 class="title">LOREM IPSUM</h2>
        <p class="block-title">
          Nulla pellentesque, massa eleifend laoreet malesuada, risus risus
          laoreet erat, in sagittis velit sem luctus erat. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>
  </div>
